body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(135deg, #2D2D2A 0%, white 100%);
  
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 20px auto;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.title {
text-align: left; 
font-family: Arial Black; 
font-weight: bold; font-size: 30px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
text-align: center;
font-size: 3rem;
}
.header > img {
  height: 100px;
}
.trending-gifs{
  text-align: left; 
font-family: Arial Black; 
font-weight: bold; font-size: 30px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
text-align: center;
font-size: 2rem;
}

.searched-gifs{
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 30px; 
  background: #202020; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
  text-align: center;
  font-size: 1rem;
}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 2px solid #2D2D2A;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #9B9B9B;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #2D2D2A;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9B9B9B;
  color:white;
}

.gifs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gifs-container img {
  max-width: 200px;
  border-radius: 20px;
}


.searched-gifs > button{
margin-top:30px ;
}

.duck-container > img {
  height: 150px;
 
}
